@font-face {
    font-family: Bold;
    src: url(/resources/fonts/OpenSansBold.ttf);
}

@font-face {
    font-family: BoldItalic;
    src: url(/resources/fonts/OpenSansBoldItalic.ttf);
}

@font-face {
    font-family: ExtraBold;
    src: url(/resources/fonts/OpenSansExtraBold.ttf);
}

@font-face {
    font-family: ExtraBoldItalic;
    src: url(/resources/fonts/OpenSansExtraBoldItalic.ttf);
}

@font-face {
    font-family: Italic;
    src: url(/resources/fonts/OpenSansItalic.ttf);
}

@font-face {
    font-family: Light;
    src: url(/resources/fonts/OpenSansLight.ttf);
}

@font-face {
    font-family: LightItalic;
    src: url(/resources/fonts/OpenSansLightItalic.ttf);
}

@font-face {
    font-family: Regular;
    src: url(/resources/fonts/OpenSansRegular.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(/resources/fonts/OpenSansSemiBold.ttf);
}

@font-face {
    font-family: SemiBoldItalic;
    src: url(/resources/fonts/OpenSansSemiBoldItalic.ttf);
}