/*.header {
    grid-gap: 10px;
    padding: 10px;
    height: 40px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.menu {
    width: 150px;
    position: fixed;
}

.menu-top {
}

.main {
    margin-left: 170px;
}

.main-top {
}

.main-top-left {
    float: left;
}

.main-top-right {
    float: right;
}

.grid-container {
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height: 20px;
}

body{
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #2196F3;
}

th,td{
    border: #ccc 1px solid;
}*/

body {
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-columns: 200px 1fr;
    grid-rows: 50px 1fr;
}

section header {
    grid-column: 1/3;
    grid-row: 1;
    background-color: #E8F0FA;
    padding: 7px 8px 2px;
}

section nav {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
    padding: 25px;
}

section article {
    grid-column: 2;
    grid-row: 2;
    background-color: blue;
}

.left {
    float: left;
}

.right {
    float: right;
}

.td-img {
    text-align: center;
}

td{
    vertical-align: top;
}
