body {
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-columns: 150px 1fr;
    grid-rows: 50px 1fr;
}

section header {
    grid-column: 1/3;
    grid-row: 1;
    background-color: #E8F0FA;
    padding: 7px 8px 8px;
}

section nav {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
    padding: 25px;
}

section article {
    grid-column: 2;
    grid-row: 2;
    background-color: blue;
}

.left {
    float: left;

    display: flex;
    align-items: center;
}

.right {
    float: right;

    display: flex;
    align-items: center;
}

.td-img {
    text-align: center;
}

table {
    color: white;
}

td {
    vertical-align: top;
    background-color: royalblue;
}

th {
    vertical-align: top;
    text-align: left;
    font-weight: 100;
    background-color: darkblue;
}
