<html>
<body>
<div>Список заявок</div>
<table>
    {{#orders}}
    <tr>
        <td>{{id}}</td>
        <td>{{number}}</td>
        <td>{{name}}</td>
        <td>{{registration_date}}</td>

    </tr>
    {{/orders}}
</table>
</body>
</html>