@font-face{
font-family: 'OpenSans';
src: url('../../resources/fonts/OpenSansRegular.eot');
src: url('../../resources/fonts/OpenSansRegular.woff') format('woff'),
url('../../resources/fonts/OpenSansRegular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}