@font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url("../../resources/fonts/OpenSansLight.ttf");
    src: url("../../resources/fonts/OpenSansLight.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: 300;
    font-style: italic;
    src: url("../../resources/fonts/OpenSansLightItalic.ttf");
    src: url("../../resources/fonts/OpenSansLightItalic.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    src: url("../../resources/fonts/OpenSansRegular.ttf");
    src: url("../../resources/fonts/OpenSansRegular.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-style: italic;
    src: url("../../resources/fonts/OpenSansItalic.ttf");
    src: url("../../resources/fonts/OpenSansItalic.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url("../../resources/fonts/OpenSansSemiBold.ttf");
    src: url("../../resources/fonts/OpenSansSemiBold.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    font-style: italic;
    src: url("../../resources/fonts/OpenSansSemiBoldItalic.ttf");
    src: url("../../resources/fonts/OpenSansSemiBoldItalic.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("../../resources/fonts/OpenSansBold.ttf");
    src: url("../../resources/fonts/OpenSansBold.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: italic;
    src: url("../../resources/fonts/OpenSansBoldItalic.ttf");
    src: url("../../resources/fonts/OpenSansBoldItalic.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: 800;
    src: url("../../resources/fonts/OpenSansExtraBold.ttf");
    src: url("../../resources/fonts/OpenSansExtraBold.eot?#iefix");
}

@font-face {
    font-family: OpenSans;
    font-weight: 800;
    font-style: italic;
    src: url("../../resources/fonts/OpenSansExtraBoldItalic.ttf");
    src: url("../../resources/fonts/OpenSansExtraBoldItalic.eot?#iefix");
}